<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="CHAY/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="CHAY/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Thêm Thư Viện Flash -->
    <script src="link-to-flash-library.js"></script>
    <!-- Ví dụ với thư viện sweetalert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../../partials/SlidebarAdmin.ejs") %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include("../../partials/TopbarAdmin.ejs") %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-4 text-gray-800">Trang quản lý tài khoản khách hàng</h1>

                        </div>
                        <!-- /.container-fluid -->

                        <div class="container">
                            <h2 >Sửa loại sản phẩm</h2>
                        <br />
                        <form style="margin: 0px 20px 30px" enctype="multipart/form-data" id="edit-form" method="post"
                            action="/sualoaisanpham/<%= SuaLoaiSanPham._id %>">
                            <!-- sử dụng hidden để gửi phương thức PUT, hiểu là làm giả method PUT -->
                            <input type="hidden" name="_method" value="PUT" />
                            <input hidden value="<%= SuaLoaiSanPham._id %>" id="idSua" name="idSua">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tên loại sản phẩm</label>
                                <input type="text" class="form-control" value="<%= SuaLoaiSanPham.TenLoaiSP %>" name="TenLoaiSP" id="TenLoaiSP" required>
                            </div>

                            <button type="submit" class="btn btn-success">Sửa</button>
                            <a onclick="history.go(-1);" class="btn btn-dark">Trở về</a>
                        </form>
                        </div>
                        
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->

                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="CHAY/vendor/jquery/jquery.min.js"></script>
    <script src="CHAY/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="CHAY/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="CHAY/js/sb-admin-2.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const edit_form = document.getElementById('edit-form');

            edit_form.addEventListener('submit', function (event) {
                event.preventDefault(); // Ngăn chặn hành vi mặc định của form submit

                // Lấy các giá trị từ form
                const IdSP = document.getElementById('idSua').value;
                console.log(IdSP);
                const TenLoaiSP = document.getElementById('TenLoaiSP').value;

                // Tạo formData để chứa dữ liệu form và file ảnh
                const formData = new FormData();
                formData.append('idSua', IdSP);
                formData.append('TenLoaiSP', TenLoaiSP);

                // Gửi request fetch để tạo mới sản phẩm
                fetch(`/sualoaisanpham/${IdSP}`, {
                    method: 'PUT',
                    // headers: {
                    //     'Content-Type': 'multipart/form-data',
                    //     'Authorization': 'Bearer your_access_token_here'
                    // },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Show success alert
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành Công!',
                                text: data.message,
                                confirmButtonText: 'OK'
                            })
                                .then(() => {
                                    window.location.href = '/TrangQLloaiSP';
                                });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi!',
                                text: data.message,
                                confirmButtonText: 'OK SHOP'
                            });
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            });
        });
    </script>
</body>

</html>